<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-biometric-secrets" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BiometricSecrets</name><js-module name="BiometricSecrets" src="www/BiometricSecrets.js"><clobbers target="cordova.plugins.BiometricSecrets" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="BiometricSecrets"><param name="ios-package" value="BiometricSecrets" /></feature></config-file><source-file src="src/ios/BiometricSecrets.m" /></platform></plugin>